<div class="row">
<div class="span6 offset3">
<%= form_for(@category) do |f| %>
<%= f.label :category_name %>
<%= f.text_field :category_name %>
<%= f.submit "Category Update",class: "btn btn-primary"%>
<% end %>
</div>
</div>